@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;

  --breakpoint-sm-500: 500px;
  --breakpoint-sm-420: 420px;
  --breakpoint-sm-380: 380px;
  --breakpoint-xs: 320px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.Toastify__toast--success {
    color: #2dd4bf !important;
}

.Toastify__toast--success svg {
    fill: #2dd4bf !important;
}

.Toastify__toast--success .Toastify__progress-bar {
    background-color: #2dd4bf !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #2dd4bf inset;
}

.spinner {
    width: 24px;
    height: 24px;
    border: 4px solid transparent;
    border-top: 4px solid #4fd1c5; /* Teal color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

  